<div class="my-4 d-flex gap-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#privateKeyModal">
        Show Private Key
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#publicKeyModal">
        Show Public Key
    </button>
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#registerWalletModal">
        Register Wallet
    </button>
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#mempoolModal">
        Use Mempool
    </button>
    <form method="post" asp-action="DemoSetup">
        <button type="submit" class="btn btn-danger">
            Demo Setup
        </button>
    </form>
</div>