<hr />

<h1>Blockchain Maintainance</h1>

@if (ViewBag.IsValid)
{
    <div class="alert alert-success" role="alert">
        Blockchain validation status: @ViewBag.IsValid
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        Blockchain status: @ViewBag.IsValid
    </div>
}

<div class="alert alert-warning">
    Mining difficulty: @ViewBag.Difficulty
</div>