@{
    var nodeId = ViewBag.CurrentNodeId as string ?? "A";
}

<div class="modal fade" id="mempoolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Register Wallet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-action="CreateTransaction">
                <input type="hidden" name="nodeId" value="@nodeId" />
                <div class="modal-body modal-key overflow-auto" style="overflow-wrap: anywhere">
                    <input type="text" name="fromAddress" placeholder="From Address (ADDR_...)" />
                    <input type="text" name="toAddress" placeholder="To Address (ADDR_...)" />
                    <input type="number" name="amount" placeholder="Amount" />
                    <input type="text" name="fee" placeholder="Fee" />
                    <input type="text" name="privateKey" placeholder="Private Key" />
                    <input type="text" name="note" placeholder="Note" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add to mempool</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>