@using Blockchain_Example1.Models.Contracts
@{
    var wallets = ViewBag.Wallets as List<Wallet>;
    var balances = ViewBag.Balances as Dictionary<string, decimal>;
    string shortenString(string s, int n = 10) => s.Length > 10 ? s.Substring(0, n) + "..." : s;
    string? transactionError = TempData["TransactionError"] as string;


    var contracts = ViewBag.Contracts as Dictionary<string, ISmartContract> ?? new Dictionary<string, ISmartContract>();
}

@if (!string.IsNullOrEmpty(transactionError))
{
    <div class="alert alert-danger" role="alert">
        @transactionError
    </div>
}

<h1>Wallet List</h1>

@if (wallets.Count == 0)
{
    <div class="alert alert-warning text-center">No wallets found.</div>
}
else
{
    <table class="table" id="Tabledata">
        <thead>
            <tr>
                <th>Address</th>
                <th>Name</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wallet in wallets)
            {
                <tr>
                    <td><a asp-action="WalletDetails" asp-route-id="@wallet.Id">@wallet.Address</a></td>
                    <td>
                        @if (contracts != null && contracts.ContainsKey(wallet.Address))
                        {
                            <span class="badge text-bg-primary">Contract</span>
                        }
                        else
                        {
                            @wallet.DisplayName
                        }
                    </td>
                    @if (balances.ContainsKey(wallet.Address)) {
                        <td>@balances[wallet.Address]</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
